*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    background: $black;
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    color: $white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: $white;
}

.w-67p {
    width: 67.5%;
    margin: 0 auto;
}

.f-24 {
    font-size: 24px;
}

.f-32 {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-160 {
    margin-bottom: 160px;
}

.visible-sm {
    display: none;
}

.flex-jcsb {
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    border: 0px;
    background: $black;
}

.btn-cta {
    border: 1px solid $white;
    border-radius: 16px;
    padding: 20px 40px;
    color: $white;
    font-weight: 900;
    font-size: 20px;
    &:hover {
        background: $white;
        color: $black;
    }
}

//body 


.header-title {
    .header {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid $white;
        margin-bottom: 40px;
        position: relative;
        img {
            width: 245px;
        }
        .menu-web {
            display: flex;
            gap: 20px;
            a {
                width: 32px;
                padding: 12px 0;
                font-weight: 700;
                font-size: 16px;
                color: $white;
            }
        }
        .close-icon {
            display: none;
        }
        .no-show {
            display: none;
        }
        .menu-mobile {
            display: none;
            flex-direction: column;
            position: absolute;
            width: 100%;
            min-height: calc(100vh - 81px); 
            top: 80px;
            background-color: #000000;
            .m-m-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 584px;
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
                a {
                font-weight: 900;
                font-size: 80px;
                line-height: 120%;
                color: $white;
                }
            }
            .m-m-footer {
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 12px;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: $white;
                div {
                    padding: 12px 0;
                }
                ul {
                    display: flex;
                    gap: 20px;
                    a {
                        padding: 12px 0;
                        color: $white;
                    }
                }
            }
        }
    }
    h1 {
        font-weight: 900;
        font-size: 120px;
        line-height: 120%;
        margin-bottom: 40px;
    }
    .deco {
        margin: 100px 0 160px;
        display: flex;
        flex-direction: row-reverse;
    }
}


.service {
    margin-bottom: 150px;
    .service-info {
        display: flex;
        justify-content: space-between;
        h2 {
            font-weight: 900;
            font-size: 32px;
        }
        p {
            font-weight: 900;
            font-size: 48px;
            line-height: 120%;
            width: 66%;
        }
    }
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
        font-size: 80px;
    }
    ul {
        li {
            width: 32%;
            padding: 80px 40px;
            border: 1px solid $black-1;
            border-radius: 16px;
            span {
                margin-bottom: 20px;
            }
            .title {
                margin-bottom: 20px;
                font-weight: 900;
                font-size: 32px;
            }
            .list-info {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
            }
        }
    }
}

.partner {
    position: relative;
    h2 {
        font-weight: 900;
        font-size: 32px;
    }
    .partner-logo {
        display: flex;
        margin-bottom: 20px;
        overflow-x: scroll;
        height: 40px;
        gap: 20px;
        position: relative;
    }
    .partner-logo::before, .partner-logo::after {
        content: '';
        position: sticky;
        width: 196px;
        height: 40px;
    }
    .partner-logo::before {
        left: 0;
        padding-right: 196px;
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
    }
    .partner-logo::after {
        right: 0;
        padding-left: 196px;
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
        transform: rotate(-180deg);
    }
    .partner-logo::-webkit-scrollbar {
        display: none;
    }
    .partner-list {
        margin-top: 140px;
        li {
            width: 32%;
            padding: 40px;
            background: rgba(255, 255, 255, 0.08);
            border-radius: 16px;
            p {
                height: 215px;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                margin-bottom: 20px;
                color: $white-1;
            }
            .avatar {
                display: flex;
                img {
                    margin-right: 16px;
                }
                .ava-info {
                    flex-direction: column;
                    .name {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 150%;
                    }
                    .cpn {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                    }
                }
            }
        }
        .material-symbols-outlined {
            font-size: 16px;
            margin-right: 4px;
            margin-bottom: 20px;
        }
    }
    .partner-mobile-button {
        display: none;
        margin: 0 auto;
        position: absolute;
        top: 501px;
        left: 44.2%;
        align-items: center;
        gap: 8px;
        .circle-btn {
            padding: 0;
            margin: 2px 0;
            border-radius: 50%;
            background: $black-1;
            width: 8px;
            height: 8px;
            &:hover {
                transform: scale(1.5);
                background: $white;
            }
        }
    }
}


// AI 工具王

.white-bg {
    background: $white;
    border-radius: 160px;
    color: $black;
}

.AI-tool {
    padding: 160px 0;
    position: relative;
    h3 {
        width: 100%;
        text-align: center;
        font-weight: 900;
        font-size: 80px;
        line-height: 120%;
    }
    .search-box {
        width: 100%;
        border-radius: 16px;
        padding: 20px 40px;
        background: $white-1;
        display: flex;
        align-items: center;
        color: $black-2;
        margin-bottom: 24px;
        .material-symbols-outlined {
            font-size: 16px;
            margin-right: 12px;
            color: $black-2;
        }
        input {
            color: $black-2;
            background: $white-1;
            border: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
    }
    .select-bar {
        font-size: 16px;
        position: relative;
        .dropdown-btn {
            display: flex;
            align-items: center;
            gap: 12px;
            background: $white;
            font-size: 16px;
            border: 1px solid $white-1;
            border-radius: 16px;
            padding: 20px 32px 20px 40px;
            &:hover {
                border: 1px solid $black;
            }
            .fiilter-btnText, .order-btnText {
                margin-right: 12px;
            }
            .material-symbols-outlined {
                color: $black;
                font-size: 16px;
            }
        }
        .filterbox, .orderbox {
            position: relative;
            .filter-btn .chosen {
                background: $black;
                color: $white;
            }
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            background: $white;
            margin-top: 4px;
            padding: 20px 0;
            flex-direction: column;
            border-radius: 16px;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
            a {
                color: $black;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                &:hover {
                    background: $white-1;
                }
            }
        }
        .filter-menu {
            left: 0;
            width: 240px;
            gap: 24px;
            .menu-default {
                padding: 0 40px;
                font-weight: 700;
                font-size: 12px;
                line-height: 150%;
                color: $black-2;
            }
            ul {
                margin-top: 8px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: stretch;
                a {
                    padding: 4px 32px 4px 40px;
                }
            }
            li {
                align-items: center;
                .material-symbols-outlined {
                    display: none;
                    padding: 0;
                    text-align: right;
                    color: $black;
                    font-size: 16px;
                }
                .checked {
                    display: block;
                }
            }
        }
        .filter-munu-border {
            width: 168px;
            padding-bottom: 16px;
            margin: 0 32px 0 40px;
            border-bottom: 1px solid $white-1;
        }
        .order-menu {
            // display: none;
            right: 0;
            gap: 8px;
            a {
                padding: 0 40px;
            }
        }
        .show {
            display: flex;
        }
        .category {
            position: absolute;
            margin: 12px 392px 12px 360px;
            top: 0px;
            display: flex;
            gap: 8px;
            .category-btn {
                padding: 8px 16px;
                color: $black-2;
                background: $white;
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;
                border-radius: 16px;
                &:hover {
                    background: $white-1;
                    color: $black;
                    font-weight: 700;
                }
            }
            .category-btn-active {
                background: $white-1;
                color: $black;
                font-weight: 700;
            }
        }
    }
    .card-list {
        margin: 40px 0;
        flex-wrap: wrap;
        li {
            width: 416px;
            border: 1px solid $white-1;
            border-radius: 16px;
            margin-bottom: 24px;
            img {
                width: 100%;
                height: auto;
                border-radius: 16px 16px 0 0;
            }
            .card-box {
                padding: 20px 32px;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                align-items: center;
                .bold {
                    font-weight: 700;
                }
                .material-symbols-outlined {
                    color: $black;
                    font-size: 24px;
                }
            }
            .card-box-1 {
                p {
                    font-size: 14px;
                    color: $black-1;
                }
            }
            h3 {
                font-weight: 900;
                font-size: 20px;
                line-height: 120%;
                margin-bottom: 12px;
                text-align: left;
            }
            .border-bottom {
                border-bottom: 1px solid $white-1;
            }
        }
    }
    .page-num {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        gap: 4px;
        button, .page-btn {
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            background: $white;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            &:hover {
                background: $black;
                color: $white;
                .material-symbols-outlined {
                    color: $white;
                }
            }
        }
        .page-btn-active {
            background: $black;
            color: $white;
            .material-symbols-outlined {
                color: $white;
            }
        }
        .material-symbols-outlined {
            font-size: 16px;
            color: $black;
        }
    }
}


.now {
    padding: 80px 0;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    h4 {
        font-weight: 900;
        font-size: 48px;
        line-height: 120%;
    }
    button {
        display: flex;
        gap: 12px;
        align-items: center;
        padding: 20px 32px;
        &:hover {
            .material-symbols-outlined {
                color: $black;
            }
        }
    }
    .material-symbols-outlined {
        font-size: 24px;
    }
}


// footer

.border-top {
    border-top: 1px solid $white;
}

.footer-top {
    padding: 80px 0;
    gap: 226px;
    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        a {
            color: $white;
            font-weight: 900;
            font-size: 80px;
            line-height: 120%;
        }
    }
    img {
        width: 245px;
        height: 100%;
    }
}

.footer-bar {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
    position: relative;
    .mobile-wrap {
        display: flex;
    }
    .copy-right {
        padding: 12px 80px 12px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
    }
    ul {
        display: flex;
        align-items: center;
        gap: 20px;
        a {
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: $white;
        }
    }
    button {
        padding: 12px 0;
        display: flex;
        align-items: center;
        gap: 12px;
        color: $white;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        position: absolute;
        right: 0;
        .material-symbols-outlined {
            font-size: 16px;
        }
    }
}

// pricing

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.pricing {
    .header-title {
        p {
            width: 49%;
            font-weight: 900;
            font-size: 48px;
            line-height: 120%;
            margin-top: 40px;
        }
    }
    .deco {
        flex-direction: row;
        margin-top: 238px;
    }
}

.pricing-section {
    ul {
        flex-wrap: wrap;
        gap: 24px;
        .card {
            border: 1px solid $black-1;
            border-radius: 16px;
            width: 49%;
            &:hover {
                border: 2px solid $white;
            }
            .card-info {
                height: 254px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px 32px;
                gap: 12px;
                border-bottom: 1px solid $black-1;
                li {
                    color: $white-1;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    list-style-type: initial;
                    list-style-position: inside;
                }
            }
            .card-price {
                padding: 20px 32px;
                align-items: center;
                p {
                    color: $black-2;
                    font-size: 20px;
                    line-height: 120%;
                    span {
                        font-weight: 900;
                        color: $white;
                    }
                }
                button {
                    padding: 0;
                    color: $white;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 150%;
                    .material-symbols-outlined {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

// 使用規範

.spec {
    ul {
        flex-direction: column;
        gap: 40px;
        li {
            padding-bottom: 40px;
            border-bottom: 1px solid $black-1;
            h3 {
                font-weight: 900;
                font-size: 48px;
                line-height: 120%;
                margin-bottom: 24px;
            }
            p {
                font-weight: 400;
                line-height: 120%;
                font-size: 32px;
            }
        }
    }
}

// 常見問題

.qna {
    ul {
        flex-direction: column;
        gap: 16px;
        button {
            padding: 0;
            li {
                border: 1px solid $black-1;
                border-radius: 16px;
                display: flex;
                gap: 20px;
                width: 856px;
                padding: 20px 40px;
                .remove-icon {
                    display: none;
                }
                .show {
                    display: flex;
                }
                .no-show {
                    display: none;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    text-align: left;
                    p {
                        font-weight: 900;
                        font-size: 20px;
                        line-height: 120%;
                        color: $white;
                    }
                    .faq-content {
                        display: none;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                    }
                    .show {
                        display: flex;
                    }
                }
                &:hover {
                    border: 2px solid $white;
                }
            }
        }
    }
}